// colors
$light-color: #f5f0e6;
$dark-color: #1b2a4e;
$accent-color: #d4af37;
$white-color: white;
$grey-color: #cdcdcd;
$dark-grey-color: #b3b3b3;

//padding
$padding-sm: 0.5rem;
$padding-m: 1rem;
$padding-l: 1.5rem;

//container spacing
$container-spacing: 3rem;

//margin
$margin-sm: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;

// flex gap
$flex-gap-sm: 1rem;
$flex-gap-m: 1.5rem;
$flex-gap-l: 2rem;
